html,
body {
  width: 100%;
  height: 100%; }

hr {
  max-width: 50px;
  border-color: #f05f40;
  border-width: 3px; }

hr.light {
  border-color: #fff; }

a {
  color: #f05f40;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }
  a:hover, a:focus {
    color: #eb3812; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif; }

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5; }

.bg-primary {
  background-color: #f05f40; }

.text-primary {
  color: #f05f40; }

.bg-dark {
  color: #fff;
  background-color: #222; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 35px 0 60px 0; }

aside {
  padding: 50px 0; }

.no-padding {
  padding: 0; }

nav.navbar-default .navbar-brand {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  position: relative; }
  nav.navbar-default .navbar-brand > img {
    height: 33px;
    width: auto; }

header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #fff;
  background-image: url(../img/bg_shadow1.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: 50px; }
  header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center; }
    header .header-content .header-content-inner h1 {
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #f5f5f5;
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 68px;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); }
    header .header-content .header-content-inner p {
      margin-bottom: 50px;
      font-size: 16px;
      font-weight: 300;
      color: #fff; }
    header .header-content .header-content-inner h3 {
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-size: 35px;
      line-height: 45px;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); }
    header .header-content .header-content-inner a.btn-primary {
      background-color: rgba(162, 162, 162, 0.24); }
      header .header-content .header-content-inner a.btn-primary:hover {
        background-color: rgba(35, 34, 34, 0.44); }
    header .header-content .header-content-inner a.btn {
      border-radius: 8px; }
    header .header-content .header-content-inner a {
      letter-spacing: 1.2px; }

@media(min-width:768px) {
  header {
    min-height: 100%; }

  header .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

  header .header-content .header-content-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px; }

  header .header-content .header-content-inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px; } }
@media(min-width : 1200px) {
  header {
    min-height: 80%; } }
section#services .extra-padding {
  padding-bottom: 20px; }

section#about {
  padding-top: 30px; }
  section#about .head-img {
    max-width: 50%;
    margin: 0 auto; }
  section#about .extra-padding {
    padding-top: 20px; }

section#price_attention_catcher {
  padding: 10px 0; }
  section#price_attention_catcher a.btn {
    margin: 20px 0 15px 0; }

section#when .section-heading {
  margin-bottom: 50px; }
section#when img {
  border-radius: 10px;
  border: 3px solid #f8f8f8;
  width: 300px;
  height: 200px;
  margin: 0 auto; }
section#when p {
  font-size: 20px;
  height: 200px;
  vertical-align: middle;
  text-align: center;
  display: table-cell; }
section#when .extra-margin {
  margin-bottom: 35px; }

section#contact .section-heading {
  margin-bottom: 30px; }
section#contact .form-group {
  margin-bottom: 25px; }
  section#contact .form-group input.form-control {
    height: auto; }
  section#contact .form-group input, section#contact .form-group section#contact .form-group textarea {
    padding: 20px; }
  section#contact .form-group textarea.form-control {
    height: 236px; }

footer {
  color: #fff; }
  footer h3 {
    margin-bottom: 30px; }
  footer .footer-above {
    padding-top: 50px;
    background-color: #f05f40; }
  footer .footer-col {
    margin-bottom: 50px; }
  footer .footer-below {
    padding: 25px 0;
    background-color: #f8f8f8;
    color: #333; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.table-cell {
  position: absolute;
  top: 50%; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #ee4b28;
  border-color: #ed431f; }

.btn-primary {
  color: #ffffff;
  background-color: #f05f40;
  border-color: #f05f40;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }

.btn-xl {
  padding: 15px 30px; }

.btn {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase; }

.service-box {
  max-width: 400px;
  margin: 50px auto 0; }

@media only screen and (min-width: 992px) {
  .service-box {
    margin: 20px auto 0; } }

/*# sourceMappingURL=style.css.map */
